[dev]
33.33.33.20 ansible_ssh_private_key_file=/Users/me/.vagrant/machines/default/virtualbox/private_key

[dev:vars]
user=vagrant
owner="Your Company Name"
sentry_admin_username="sentryadmin"
sentry_admin_password="CHANGE_ME"
sentry_url="sentry.example.com"
sentry_db_host="localhost"
sentry_db_port="5432"
sentry_db_name="sentry"
sentry_db_user="sentrydbadmin"
sentry_db_password="CHANGE_ME"
sentry_redis_host="localhost"
sentry_redis_port="6379"
sentry_secret_key="CHANGE_ME"
#sentry_public_dns_name="localhost"
#sentry_mail_host="${SentryMailHost}"
#sentry_mail_port="${SentryMailPort}"
#sentry_mail_username="${SentryMailUsername}"
#sentry_mail_password="${SentryMailPassword}"
#sentry_mail_from="${SentryMailFrom}"
#sentry_github_app_id="YOUR_GITHUB_APP_ID"
#sentry_github_api_secret="${SentryGithubApiSecret}"
#sentry_files_bucket_name="${AWS::AccountId}-${AWS::StackName}-sentry-files"
